@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    background-color: $bg;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 5.479rem;
    height: 4.75rem;

    label {
        font-size: 0.75rem;
        font-weight: 700;
        word-spacing: 0.25rem;
        color: $grey;
    }

    input {
        height: 3.375rem;
        width: 5.479rem;
        border-radius: 0.5rem;
        outline: none;
        border: 0.0625rem solid $line;
        padding: 0.75rem 1rem;
        font-size: 1.25rem;
        font-weight: 700;
        cursor: pointer;

        &:focus {
            border: 1px solid $purple;
        }
    }
}

@include respond-to(xxl) {
    .input {
        width: 10rem;
        height: 6.3125rem;

        label {
            font-size: 0.875rem;
        }

        input {
            width: 10rem;
            height: 4.5rem;
            padding: 0.75rem 1.5rem;
            font-size: 2rem;
            word-spacing: 0.0625rem;
        }
    }
}