form {
    position: relative;
    display: flex;
    padding: 3rem 1.5rem;
    flex-direction: column;
    align-items: center;
    width: 21.4375rem;
    border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
    background-color: white;

    .inputs {
        display: flex;
        gap: 1rem;
        padding: 0 0 3.96875rem 0;
        border-bottom: 0.0625rem solid $line;
    }
}

button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.7s ease;

    &:hover {
        background-color: $black;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@include respond-to(xxl) {
    form {
        width: 52.5rem;
        height: 40.6875rem;
        border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
        align-items: start;
        padding: 3.5rem;

        .inputs {
            gap: 2rem;
            padding: 0 0 2.96875rem 0;
            width: 100%;
        }
    }

    button {
        height: 6rem;
        width: 6rem;
        left: auto;
        right: 0.3125rem;
        top: 32.5%;

        img {
            width: 2.75rem;
            height: 2.75rem;
        }
    }
}