.info {
    padding-top: 3.96875rem;

    p {
        font-size: 3.5rem;
        font-weight: 800;
        word-spacing: -2%;
        color: $black;
        margin: 0;
        white-space: nowrap;

        span {
            color: $purple;
        }
    }
}