.info {
    padding-top: 3.96875rem;

    p {
        font-size: 3.5rem;
        font-weight: 800;
        word-spacing: -2%;
        color: $black;
        margin: 0;
        white-space: nowrap;

        span {
            color: $purple;
        }
    }
}

@include respond-to(xxl) {
    .info {
        padding-top: 2.96875rem;

        p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 6.5rem;
            height: 7.125rem;
        }
    }
}